@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{    
    color: #fff;
    font-family: 'Poppins', sans-serif;  
}

:root {
    --primary-color: #B9001F;
    --red-color:#a71814;
    --brown800-color:#10000a;
    --gray300-color: #d9e2e7;
    --gray600-color: #242426;
    --blue500-color: #0a2b4e;
} 

