@import url('./reset.css');
@import url('./global.css');
@import url('./components/_navigator.css');
@import url('./components/_pills.css');

.s-wrapper{
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
    background-color: blue;
}

.s-wrapper .s-left-column{
    width: 6rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-right: 50px;
    left: 0;
    top: 0;
    z-index: 1;
}

.s-wrapper .s-main-content{
    height: 100%;
    width: 100%;
    background-color: #929292;
    padding: 2rem 0 0 8rem;

}

.s-wrapper .s-main-content__top{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.s-wrapper .s-main-content__botton{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.s-logo__imagem{
    height: 80%;
    /*margin: 50px 0 30px 0; */   
}

/*Description  */
.s-wrapper .s-main-content__top .s-description{
    background-color: rgba(0, 0, 0, .7);
    max-width: 60%;
    padding: 1.15rem;
    border-radius: 10px;
}

.s-wrapper .s-main-content__top .s-description .s-description__text .s-description__paragraph{
    color: #fff;
    line-height: 170%;
    font-size: .8rem;
    
}

.s-wrapper .s-main-content__top .s-description .pills{
    margin-bottom: 20px;
}
.strong{
    font-weight: 700;
}

